<!DOCTYPE html>
<html lang="en">
<head>
    <title>Workshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
        {% if current_user == None %}
            <a class="nav-link fontmy" href = "\"> MARCH'MESSENGER </a>
            <a class="nav-link fontmy" href="{{ url_for('login') }}">LOG IN</a>
            <a class="nav-link fontmy" href="{{ url_for('signup') }}">SIGN UP</a>
        {% else %}
            <a class="nav-link fontmy" href = "\"> {{current_user}}'MESSENGER </a>
                    <a class="nav-link fontmy" href = "\statistics"> Total statistics </a>

            <a class="nav-link fontmy" href="{{ url_for('logout') }}">Log Out</a>
            {% if admin %}
                <a class="nav-link fontmy" href="{{ url_for('all_users') }}">All Users</a>
                <a class="nav-link fontmy" href="{{ url_for('all_messages_admin') }}">All messages</a>

            {% endif %}
        {% endif %}
    </div>


</nav>
{% block content %}
    <ul class="navbar-nav">
        {% if current_user == None %}:
        <p> YOU HAVE TO BE AUTHORIZED TO HAVE ACCESS TO CHATS</p>
        {% else%}:
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="/messages_department">{{user_obj.Department}}'s chat in {{user_obj.Company }} company</a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/messages">Common chat in {{user_obj.Company }} company</a>
            </nav>
            <nav class="navbar navbar-light bg-light">
              <span class="navbar-brand mb-0 h1">Personal chat</span>
            </nav>

        {% endif %}


    </ul>
{% endblock %}
</body>
</html>